body {
  background-image:url('image/bg2.jpg'); ;
  background-attachment: fixed;
  background-size:  100% 100%;
h1 {
  color: white;
 
}
h2{
  background-repeat: no-repeat;	
  background-attachment: fixed;
  background-size:  100% 100%;
  background-image: url('image/gra1.jpg');
}
p {
  color: pink;
  font-size:30px;
}
